<div class="col-12 p-3 background-white">
  <form [formGroup]="cadastroAlunoForm" (ngSubmit)="onSubmit()">
    <!-- <ng-container *ngIf="step === 1"> -->
    <p>Dados Pessoais</p>
    <hr />
    <div class="row">
      <div class="form-group col-2">
        <label class="m-0">Prontuario:</label>
        <input
          type="tel"
          class="form-control"
          formControlName="nomeUsuario"
          placeholder="XXXXXX-X"
        />
      </div>

      <div class="form-group col-10">
        <label class="m-0">Nome:</label>
        <input
          type="text"
          class="form-control"
          formControlName="nomeUsuario"
          placeholder="Nome Completo"
        />
      </div>

      <div class="form-group col-9">
        <label class="m-0">Email:</label>
        <input
          type="email"
          class="form-control"
          formControlName="nomeUsuario"
          placeholder="email@provedor.com"
        />
      </div>

      <div class="form-group col-3">
        <label class="m-0">Telefone:</label>
        <input
          type="tel"
          class="form-control"
          formControlName="nomeUsuario"
          placeholder="(DDD) XXXXX-XXXX"
        />
      </div>

      <div class="form-group col-9">
        <label class="m-0">Curso:</label>
        <input
          type="text"
          class="form-control"
          formControlName="nomeUsuario"
          placeholder="Nome do curso"
        />
      </div>

      <div class="form-group col-3">
        <label class="m-0">Data:</label>
        <input
          type="date"
          class="form-control"
          formControlName="nomeUsuario"
          placeholder="01/01/2019"
        />
      </div>
    </div>

    <p>Endereço</p>
    <hr />

    <div class="row">
      <div class="form-group col-3">
        <label class="m-0">CEP:</label>
        <input
          type="text"
          class="form-control"
          formControlName="cep"
          placeholder="XXXXX-XXX"
        />
      </div>
      <div class="form-group col-10">
        <label class="m-0">Logradouro:</label>
        <input
          type="text"
          class="form-control"
          formControlName="logradouro"
          placeholder="Avenida Paulista"
        />
      </div>
      <div class="form-group col-2">
        <label class="m-0">Numero:</label>
        <input
          type="text"
          class="form-control"
          formControlName="numero"
          placeholder="1234"
        />
      </div>
      <div class="form-group col-6">
          <label class="m-0">Estado:</label>
          <select 
            class="form-control" 
            formControlName="estados"
            (change)="getCidades()"
          >
            <ng-container *ngIf="estadosCidades">
                <option *ngFor="let estado of estadosCidades.estados" 
                [value]="estado.nome">
                {{ estado.nome }}
                </option>
            </ng-container>
          </select>
        </div>

        <div class="form-group col-6">
            <label class="m-0">Cidade:</label>
            <select class="form-control" formControlName="cidades">
                <ng-container *ngIf="estado">
                    <option *ngFor="let cidade of estado.cidades" 
                    [value]="cidade">
                    {{ cidade }}
                    </option>
                </ng-container>
            </select>
          </div>
    </div>
    <!-- </ng-container> -->
  </form>
  <div class="col-3">
    <button type="submit" class="btn btn-success btn-block mt-3">
      Salvar Alterações
    </button>
  </div>
</div>
