<nav class="navbar">
  <a class="navbar-brand text-center" href="">Projeto DW2</a>

  <div class="my-3 align-items-center">
    <i class="fas fa-user"></i><p class="pl-2 d-inline">Nome usuario</p>
    <hr>
  </div>

  <div class="nav flex-column">
    <a class="nav-link active my-2" href="#">Exemplo 1</a>
    <a class="nav-link active my-2" href="#">Exemplo 2</a>
    <a class="nav-link active my-2" href="#">Exemplo 3</a>
    <a class="nav-link active my-2" href="#">Exemplo 4</a>
  </div>
</nav>
