<div class="container h-100">
  <div class="row justify-content-center h-100">
    <div class="col-lg-6 col-md-8 align-self-center">
      <div class="card">
        <h1 class="card-header">{{ title }}</h1>
        <div class="body">
          <div>
            <div class="col-12 p-3">
              <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
                <ng-container *ngIf="step === 1">
                  <div class="form-group">
                      <label class="m-0">Nome:</label>
                      <input
                        type="text"
                        class="form-control"
                        formControlName="nomeUsuario"
                        placeholder="Nome Completo"
                      />
                  </div>
                  <div class="form-group">
                    <label class="m-0">Você é:</label>
                    <select class="form-control" formControlName="tipoUsuario">
                      <option value="1">Aluno</option>
                      <option value="2">Empresa</option>
                      <option value="3">Supervisor</option>
                    </select>
                  </div>
                </ng-container>
                <div class="form-group">
                  <label class="m-0">{{ labelEmail }}</label>
                  <input
                    type="email"
                    class="form-control"
                    formControlName="email"
                    placeholder="seuemail@email.com"
                  />
                </div>
                <div class="form-group">
                  <label class="m-0">{{ labelSenha }}</label>
                  <input
                    type="password"
                    class="form-control"
                    formControlName="senha"
                    placeholder="Senha"
                  />
                </div>
                <ng-container *ngIf="step === 0">
                  <button
                    class="btn btn-secondary btn-block mt-3"
                    (click)="primeiroAcesso()"
                  >
                    Primeiro acesso?
                  </button>
                </ng-container>
                <button type="submit" class="btn btn-success btn-block mt-3">
                  {{ labelButton }}
                </button>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
